<h4>Artists </h4>

<% @artists.each do |artist| %>
  Name: <%= link_to artist.artist_name, artist_path(artist) %> <br />
<%= image_tag artist.image_path %> <br />
<% end %>

<br />

<%= link_to 'New artist', new_artist_path %>
